@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.dateSelectGroup {
  @include rowing(nuul, null, $spacing-12, column);
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-18;
  background-color: $color-white;
}

.dateSelectLabel {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-gray4, $spacing-35);
}

.dateSelectRow {
  @include rowing(space-between);
  padding: $spacing-0 $spacing-32;
}

.yearSelectContainer,
.monthSelectContainer {
  @include sizes(100%);
  max-width: 450px;
  padding-left: $spacing-16;
  border-radius: $spacing-12;
  border: 1.5px solid $color-purple3;
}

.selectYearWrapper,
.selectMonthWrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.yearSelect,
.monthSelect {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray8, $spacing-20);
  @include sizes($spacing-70);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: $spacing-11 $spacing-8 $spacing-11 $spacing-0;
  border: none;
  background-color: unset;
}

.monthSelect {
  @include sizes(120px);
}
