@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.dropMenuWrap {
  position: relative;
}

.dropMenuBtn {
  @include rowing(null, center);
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-purple);
  gap: $spacing-25;
  padding: unset;
  background: none;
  border: none;
  cursor: pointer;
}

.dropMenuList {
  position: absolute;
  top: $spacing-40;
  left: $spacing-0;
  background: $color-white;
  border: $spacing-1 solid $color-gray;
  border-radius: $spacing-4;
  box-shadow: $spacing-0 $spacing-4 $spacing-8 rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: $z-index-1;
}

.dropMenuItem {
  padding: $spacing-10 $spacing-16;
  cursor: pointer;
  color: $color-purple2;
  background: transparent;
  transition: background 0.2s;

  &:hover {
    background: $color-pink2;
  }
}

.searchWrap {
  display: inline-block;
  padding-right: $spacing-32;
  border-right: 1.5px solid $color-purple3;
}

.searchPanelBtn {
  @include fonts($manroupe-font, $font-weight-500, $font-size-20, $color-purple3, $spacing-26);
  gap: $spacing-24;

  > span {
    line-height: $spacing-32;
  }
}

.sortBtn {
  @include fonts(null, null, $font-size-20, $color-purple3);

  > svg {
    margin-bottom: $spacing-2;
  }
}

.toolbarWrapp {
  margin-right: $spacing-55;
}
