@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.masterSidebar {
  @include sizes(100%);
  position: sticky;
  top: $spacing-80;
  align-self: flex-start;
  max-width: 270px;
  margin-bottom: $spacing-14;
  border-radius: $spacing-9;
  background-color: $color-purple3;
}

.masterInfoBox {
  @include rowing(space-between, center);
  padding: $spacing-9 $spacing-17;
  border-bottom: 1px solid $color-white;
}

.wrapperImg {
  @include sizes($spacing-40, $spacing-40, 50%);
  background-color: $color-gray3;
}

.userName {
  @include fonts($manroupe-font, $font-weight-700, $font-size-16, $color-white);
}

.item {
  @include rowing(flex-end, center);
  @include fonts($manroupe-font, $font-weight-500, $font-size-16, $color-white);
  padding: $spacing-18 $spacing-17;

  > span {
    padding-right: $spacing-20;
  }
}

.itemOrder {
  border-bottom: 1px solid $color-white;
}
