.masterSidebar {
  width: 100%;
  position: sticky;
  top: 80px;
  align-self: flex-start;
  max-width: 270px;
  margin-bottom: 14px;
  border-radius: 9px;
  background-color: #7f207b;
}

.masterInfoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 17px;
  border-bottom: 1px solid #fff;
}

.wrapperImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f3f3f3;
}

.userName {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 18px 17px;

  > span {
    padding-right: 20px;
  }
}

.itemOrder {
  border-bottom: 1px solid #fff;
}
