.wrappCards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 40px 57px;
  border-radius: 24px;
  background-color: #fff2f1;
}

.mastersMoreWrap {
  display: flex;
  justify-content: center;
}

.paginationWrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 24px 0;
}

.showMoreWrap {
  display: flex;
  justify-content: center;
}
