@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrappCards {
  @include rowing(null, null, $spacing-25);
  flex-wrap: wrap;
  padding: $spacing-40 $spacing-57;
  border-radius: $spacing-24;
  background-color: $color-pink;
}

.mastersMoreWrap {
  @include rowing(center);
}

.paginationWrap {
  @include rowing(center, null, $spacing-24);
  padding: $spacing-24 $spacing-0;
}

.showMoreWrap {
  @include rowing(center);
}
