@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrapperSearchForm {
  @include sizes(null, null, $spacing-24);
  padding: $spacing-8 $spacing-30;
  background-color: $color-white;
}

.searchFormLabel {
  @include fonts($manroupe-font, $font-weight-400, $font-size-20, $color-purple3, $spacing-36);
}

.searchForm {
  @include rowing(space-between, center);
  @include sizes(null, null, $spacing-24);
  margin: $spacing-8 $spacing-0 $spacing-16;
  padding: $spacing-16 $spacing-24;
  border: $spacing-1 solid $color-purple3;
}
