// Replaced base flex styles with .flex-between utility
.mainPanel {
  padding: 16px 24px 24px;
}

.masterProfileSection {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.wrappMainPanel {
  flex-grow: 1;
  margin-top: 70px;
  background-color: #fff2f1;
}

// Replaced base flex styles with .flex-col-24 utility
.wrappAboutCard {
  border-radius: 12px;
  margin: 0 24px;
  background-color: #fff2f1;
}
