@use '@/shared/styles/variables' as *;

.mainPanel {
  padding: $gap-lg $gap-xl $gap-xl;
}

.masterProfileSection {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.wrappMainPanel {
  flex-grow: 1;
  margin-top: 70px;
  background-color: $color-bg-form;
}

.wrappAboutCard {
  border-radius: $radius-md;
  margin: 0 $gap-xl;
  background-color: $color-bg-form;
}
