.selectFieldWrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fff;
}

.selectFieldLabel {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 35px;
  padding: 16px 24px;
}
