.fieldWrapper {
  display: flex;
  gap: 12px;
  flex-direction: column;
  border-radius: 18px;
  padding: 16px 24px;
  background-color: #fff;
}

.fieldLabel {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 35px;
}

.duties {
  font-family: Manroupe, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #333333;
  line-height: 24px;
  border: none;
}

.counter {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #7d7979;
  line-height: 20px;
}
