.wrappHelpSection {
  padding: 50px 0;
}

.titleHelp {
  font-weight: 600;
  font-size: 40px;
  color: #fff;
}

.subtitleHelp {
  font-size: 22px;
  color: #fff;
  padding: 16px 0;
  letter-spacing: 1px;
}
