// Replaced with .flex-between utility
.joinSection {
  min-height: 500px;
}

// Replaced with .flex-col utility
.content {
  padding: 0 30px;
}

.title {
  font-family: Playfair, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #8f3574;
  padding-bottom: 36px;
}

.subtext {
  padding-top: 40px;
  padding-bottom: 15px;
}

.text,
.subtext {
  font-size: 24px;
  color: #191919;
  line-height: 1.3;
}
