.scrollBtn {
  font-size: 16px;
  color: #fff;
  position: fixed;
  top: 10%;
  right: 10%;
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  background-color: #1976d2;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1000;
}
