@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

@font-face {
  font-family: 'Manrope-Regular';
  src: url('../../../../assets/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('../../../../assets/fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wrappShedule {
  @include sizes(100%, null, $spacing-12);
  max-width: 560px;
  padding: $spacing-16 $spacing-24;
  background-color: $color-white;
}

.title {
  @include fonts($manroupe-font, $font-weight-500, $font-size-18, $color-black);
}

.headShedule {
  @include rowing(space-between);

  > .btnCalendar {
    @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-black);
  }
}

.btnDay {
  @include sizes(null, $spacing-73);
  display: block;
  border: none;
  background-color: $color-pink;
}

.weekDaysRow > .wrappBtnDay > .btnDay {
  &:hover {
    background-color: $color-pink2;
  }
}

.btnPrev,
.btnNext {
  @include sizes($spacing-20);
  border: none;
}

.wrappBtnPrev > .btnPrev {
  @include sizes($spacing-20);
  margin-right: $spacing-15;
}

.wrappBtnNext > .btnNext {
  @include sizes($spacing-20);
  margin-left: $spacing-15;
}

.dayLabel {
  @include fonts($manroupe-font, $font-weight-400, $font-size-14, $color-black3);
}

.dayNumber {
  @include fonts(Manrope-Bold, $font-weight-700, $font-size-16, $color-black3);
}

.selected {
  background-color: $color-purple3;

  > .dayLabel,
  > .dayNumber {
    color: $color-white;
  }
}

.slotRow {
  @include rowing(null, center);
}

.iconCol {
  padding-top: $spacing-10;
}

.statusCol {
  padding-left: $spacing-20;
}

.card {
  border: none;

  > div {
    padding-bottom: $spacing-20;
  }
}

.cardFree {
  background-color: $color-pink;
}

.cardBusy {
  background-color: $color-purple3;
}

.status {
  @include fonts($manroupe-font, $font-weight-400, $font-size-20, $color-purple3);
}

.address {
  @include fonts($manroupe-font, $font-weight-400, $font-size-14, $color-gray2);
  padding-top: $spacing-4;
}

.time {
  @include fonts(Manrope-Regular, $font-weight-400, $font-size-18, $color-purple3);
}

.statusBusy,
.addressBusy,
.timeBusy {
  color: $color-white;
}

.lastCard {
  box-shadow: $spacing-0 $spacing-3 $spacing-0 $spacing-0 $color-purple3;
}
