// Replaced with .flex-col utility
.promoContent {
  gap: 49px;
  width: 848px;
  margin: 0 30px;
}

// Replaced with .flex utility
.title {
  align-items: center;
  height: 60px;
  font-family: Playfair, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #8f3574;
  line-height: 40px;
}
