.promoContent {
  display: flex;
  gap: 49px;
  flex-direction: column;
  width: 848px;
  margin: 0 30px;
}

.title {
  display: flex;
  align-items: center;
  height: 60px;
  font-family: Playfair, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #8f3574;
  line-height: 40px;
}
