@use '../../../styles/mixins' as *;

.collage-wrap {
    @include rowing(space-between, null, column);
    @include sizes(100vw, 100vh);
    background: {
        image: url('../../../../public/images/collage-of-movie-posters.jpg');
        color: black;
        size: cover;
        position: center;
    }
}

@include screenSize(sm) {
    .collage-wrap {
        padding: 0 15px;
    }
}