@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.addressCard {
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-12;
  background-color: $color-white;
}

.addressLabelWrapper,
.regionLabelWrapper {
  @include rowing(space-between, center);
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4, $spacing-36);
  padding-bottom: $spacing-12;
}

.addressItem {
  @include rowing(null, null, $spacing-12, column);
  padding: $spacing-0 $spacing-16;
}

.addressRow {
  @include rowing(null, center);
}

.addressText,
.regionText {
  padding-left: $spacing-55;
}

.addressLabel,
.addressText,
.regionLabel,
.regionText {
  @include fonts($manroupe-font, $font-weight-500, $font-size-18, $color-gray4, $spacing-28);
}
