@use '../../../styles/mixins' as *;

.registrationForm {
  @include rowing(null, null, column);
  @include sizes(575px);
  padding: 40px;
  margin: 0 auto;
  border-radius: 12px;
  color: #ffffff;
  background-color: #242426;
}

.title {
  @include fonts(600, 24px, white, 36px);
  padding-bottom: 40px;
}

.basement {
  @include fonts(500, 16px, #80858B, 24px);
  text-align: center;
  padding-top: 30px;
}

.error {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.signLink {
  margin-left: 5px;
  color: #7B61FF;
}

.btnRegister {
  padding: 16px 0;
  color: white;
  border-radius: 10px;
  background-color: #7B61FF;
}

.inputUsername,
.inputPassword,
.inputEmail,
.inputConfirmPassword {
  @include sizes(100%);
  margin-bottom: 25px;
}

@include screenSize(md) {
  .registrationForm {
    @include sizes(76vw);
  }
}

@include screenSize(sm) {
  .title {
    @include fonts(null, 20px, null, 32px);
  }

  .basement {
    @include fonts(null, 13px, null, 20px);
  }

  .registrationForm {
    @include sizes(91vw);
  }
}
