@use '../../../styles/mixins' as *;

.userProfile {
  @include rowing();
  margin-left: 40px;
  position: relative;
  cursor: pointer;
}

.userInfo {
  @include rowing(null, center);
  @include sizes(250px);
}

.circle {
  @include rowing(center, center);
  @include sizes(60px, 60px);
  border-radius: 12px;
  margin-right: 20px;
  cursor: pointer;
}

.userName {
  @include fonts(600, 16px, #fff, 24px);
  color: #fff;
  overflow: hidden;
}

.arrowDown {
  margin-left: auto;
}

.userInitials {
  @include fonts(700, 20px, white, 24px);
}

.lightUserName {
  color: #242426;
}

.hamburger {
  display: none;
}

.wrappHamb {
  padding-top: 60px;
}

.menuItems {
  @include sizes(300px, 100%);
  @include rowing();
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #000;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .menuLink {
    display: flex;
    align-items: center;
    padding: 30px 16px;
    color: #80858B;
    text-decoration: none;
    transition: background 0.2s;

    &:hover {
      background-color: #3a3a3a;
    }

    &.active {
      font-weight: bold;
      color: #7B61FF;

      svg path {
        fill: #7B61FF;
      }
    }

    .text {
      @include fonts(600, 18px, unset, 24px);
      margin-left: 20px;
    }
  }
}

.userInfoHumb {
  display: none;
}

.closeIcon {
  @include sizes(60px, 60px);
  @include rowing(center, center);
  position: relative;
  top: 55px;
  right: 60px;
  background-color: #7B61FF;
  border-radius: 10px;
}

@include screenSize(md-sm) {
  .userProfile {
    order: 1;
  }

  .menuItems {
    @include sizes(230px);
  }

  .wrappHamb {
    margin-left: -30px;
  }
}

@include screenSize(lg) {
  .circle {
    margin: 0;
  }

  .userName, .userInitials {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .userInfo {
    @include sizes(unset);
  }
}
