@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.editOverlay {
  @include rowing(center, center);
  @include sizes(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

.masterEditForm {
  @include sizes(1147px, null, $spacing-12);
  z-index: 1000;
  padding: $spacing-16 $spacing-24;
  background-color: $color-pink;
}

.formContent {
  @include rowing(null, null, $spacing-16, column);
}

.errorText {
  @include fonts($roboto-flex-font, $font-weight-400, $font-size-14, $color-red, $spacing-20);
  padding-left: $spacing-24;
  margin-top: -$spacing-8;
}

.photoSection {
  @include rowing(null, null, $spacing-12, column);
  @include sizes(100%, null, $spacing-18);
  padding: $spacing-16 $spacing-24;
  background-color: $color-white;
}

.photoLabel {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-gray4, $spacing-35);
}

.hiddenInput {
  display: none;
}

.uploadArea {
  @include rowing(center, center);
  @include sizes(fit-content, null, $spacing-20);
  margin: $spacing-0 auto;
  padding: $spacing-40;
  background-color: $color-pink;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color-pink2;
  }
}

.uploadIcon {
  @include rowing(center, center);
  @include sizes(60px, 60px);
  padding: $spacing-8;

  svg {
    @include sizes(100%, 100%);
    color: $color-purple;
  }
}

.photoPreviewWrapper {
  @include rowing(center, center, $spacing-16, column);
  @include sizes(100%);
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.photoPreview {
  @include sizes(150px, 150px, $spacing-12);
  object-fit: cover;
}

.photoHint {
  @include fonts($roboto-flex-font, $font-weight-400, $font-size-14, $color-purple, $spacing-20);
}
