// .headerContainer: similar to .flex-between but no align-items
.headerContainer {
  display: flex;
  justify-content: space-between;
}

// .title: similar to .card-title but with extra line-height and padding
.title {
  font-weight: 600;
  font-size: 20px;
  color: #333333;
  line-height: 35px;
  padding-bottom: 12px;
}

.servicesItem {
  display: flex;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #333333;
}

// .itemContent: .flex-between + custom width and position
.itemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.serviceTitle {
  font-weight: 600;
  font-size: 20px;
  color: #333333;
  line-height: 35px;
}

.serviceText {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  line-height: 35px;
  padding: 8px 0;
}

.serviceDesc {
  font-size: 18px;
  color: #333333;
  line-height: 28px;
}

.serviceInfo {
  flex: 0 1 570px;
  min-width: 0;
  padding-left: 24px;
}

.labelPrice {
  font-size: 15px;
  color: #808080;
  line-height: 20px;
}

.servicePriceBlock {
  display: flex;
  gap: 6px;
  flex-direction: column;
  flex: 0 1 120px;
  min-width: 0;
}

.servicePrice {
  font-family: Manrope-Semibold, sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #333333;
  line-height: 22px;
}
