@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.servicesCard {
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-12;
  background-color: $color-white;
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4, $spacing-35);
  padding-bottom: $spacing-12;
}

.servicesItem {
  @include rowing(null, center);
  padding: $spacing-6 $spacing-0;
  border-bottom: $spacing-1 solid $color-gray4;
}

.itemContent {
  @include rowing(null, center);
  min-width: 70%;
}

.serviceTitle {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4, $spacing-35);
}

.serviceText {
  @include fonts($manroupe-font, $font-weight-600, $font-size-18, $color-gray4, $spacing-35);
  padding: $spacing-8 $spacing-0;
}

.serviceDesc {
  @include fonts($manroupe-font, $font-weight-400, $font-size-18, $color-gray4, $spacing-28);
}

.serviceInfo {
  flex: 0 1 570px;
  min-width: 0;
  padding-left: $spacing-24;
}

.labelPrice {
  @include fonts($manroupe-font, $font-weight-400, $font-size-17, $color-gray5);
}

.servicePriceBlock {
  margin-left: auto;
}

.servicePrice {
  @include fonts(Manrope-Semibold, $font-weight-600, $font-size-17, $color-gray4);
}
