@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.servicesCard {
  @include sizes(null, null, $spacing-12);
  padding: $spacing-16 $spacing-24;
  background-color: $color-white;
}

.headerContainer {
  @include rowing(space-between);
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4, $spacing-35);
  padding-bottom: $spacing-12;
}

.servicesItem {
  @include rowing(null, center);
  padding: $spacing-6 $spacing-0;
  border-bottom: $spacing-1 solid $color-gray4;
}

.itemContent {
  @include rowing(space-between, center);
  @include sizes(100%);
  position: relative;
}

.serviceTitle {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4, $spacing-35);
}

.serviceText {
  @include fonts($manroupe-font, $font-weight-600, $font-size-18, $color-gray4, $spacing-35);
  padding: $spacing-8 $spacing-0;
}

.serviceDesc {
  @include fonts($manroupe-font, $font-weight-400, $font-size-18, $color-gray4, $spacing-28);
}

.serviceInfo {
  flex: 0 1 570px;
  min-width: 0;
  padding-left: $spacing-24;
}

.labelPrice {
  @include fonts($manroupe-font, $font-weight-400, $font-size-15, $color-gray5, $spacing-20);
}

.servicePriceBlock {
  @include rowing(null, null, $spacing-6, column);
  flex: 0 1 120px;
  min-width: 0;
}

.servicePrice {
  @include fonts(Manrope-Semibold, $font-weight-600, $font-size-17, $color-gray4, $spacing-22);
}
