@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.addressOverlay {
  @include rowing(center, center);
  @include sizes(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

.addressForm {
  @include sizes(1150px, null, $spacing-12);
  z-index: 1000;
  padding: $spacing-16 $spacing-24;
  background-color: $color-pink;
}

.addressWrapper {
  @include rowing(null, null, $spacing-16, column);
}
