@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.searchPanel {
  @include rowing(null, center, null, column);
  @include sizes(100%);
  margin-top: -75px;
  padding: $spacing-24 $spacing-0 $spacing-36;
  border-radius: $spacing-24 $spacing-24 $spacing-0 $spacing-0;
  background-color: $color-pink;
}

.searchTitle {
  @include fonts($manroupe-font, $font-weight-500, $font-size-30, $color-purple3, $spacing-39);
  padding-bottom: $spacing-24;
}

.searchBody {
  @include sizes(100%);
  max-width: 1440px;
}

.searchHint {
  @include fonts($manroupe-font, $font-weight-500, $font-size-20, $color-purple3, $spacing-26);
  padding: $spacing-0 $spacing-0 $spacing-8 $spacing-30;
}

.searchPanelBlock {
  @include rowing(null, null, $spacing-16, column);
  @include sizes(null, null, $spacing-24);
  padding: $spacing-30;
  background-color: $color-purple3;
}

.searchPanelBar {
  @include rowing(space-between, null, $spacing-24);
}

.searchFilterBody {
  @include rowing(null, null, $spacing-24);
  padding: $spacing-6 $spacing-8;
}

.searchFilterSign {
  @include fonts($manroupe-font, $font-weight-400, $font-size-20, $color-white, $spacing-24);
}
