.searchPanel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: -75px;
  padding: 24px 0 36px;
  border-radius: 24px 24px 0 0;
  background-color: #fff2f1;
}

.searchTitle {
  font-weight: 500;
  font-size: 30px;
  color: #7f207b;
  line-height: 39px;
  padding-bottom: 24px;
}

.searchBody {
  width: 100%;
  max-width: 1440px;
}

.searchHint {
  font-weight: 500;
  font-size: 20px;
  color: #7f207b;
  line-height: 26px;
  padding: 0 0 8px 30px;
}

.searchPanelBlock {
  display: flex;
  gap: 16px;
  flex-direction: column;
  border-radius: 24px;
  padding: 30px;
  background-color: #7f207b;
}

.searchPanelBar {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.searchFilterBody {
  display: flex;
  gap: 24px;
  padding: 6px 8px;
}

.searchFilterSign {
  font-size: 20px;
  color: #fff;
  line-height: 24px;
}
