@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.diplomasWrapper {
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-18;
  background-color: $color-white;
}

.titleRowDiplomas {
  @include rowing(space-between, center);
  padding-bottom: $spacing-12;
}

.grid {
  @include rowing(space-between);
  padding: $spacing-12 $spacing-6;
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4);
}
