@use '../../../styles/mixins' as *;

.movieCard {
  @include rowing(null,  null, column);
  position: relative;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  .poster {
    @include sizes(100%, auto);
    max-height: 344px;
    border-radius: 20px;
    object-fit: cover;
  }

  .trendsPoster {
    max-height: 390px;
  }

  .moviePoster {
    @include sizes(100%);
  }

  .info {
    padding: 10px;

    .title {
      @include fonts(700, 16px, #fff, 24px);
    }

    .lightTitle {
      color: #000;
    }

    .genre {
      @include fonts(600, 16px, #AFB2B6, 24px);
    }
  }
}

.seriesCard {

}

.raiting, .lowRaiting, .middleRating {
  @include fonts(700, 16px, #fff, 24px);
  position: absolute;
  top: 1.5vh;
  left: 1vw;
  padding: 2px 8px;
  border-radius: 6px;
  background-color: #00A340;
}

.middleRating {
  background-color: #F3A608;
}

.lowRaiting {
  background-color: #F45D2D;
}


.fireIcon {
  display: none;
}

.trendsFireIcon {
  display: block;
  margin-right: 5px;
}

.raitingTrends {
  @include rowing(center, center);
  background: #7B61FF;
}

.favouriteIconWrapper {
  position: absolute;
  top: 1.5vh;
  right: 1vw;
  padding: 6px 12px 3px;
  border-radius: 6px;
  background-color: #323537;
}

@include screenSize(lg) {
  .raiting, .lowRaiting, .middleRating {
    left: 2vw;
  }

  .favouriteIconWrapper {
    right: 2vw;
  }
}

@include screenSize(md) {
  .raiting, .lowRaiting, .middleRating {
    left: 3vw;
  }

  .favouriteIconWrapper {
    right: 3vw;
  }
}

@include screenSize(sm) {
  .raiting, .lowRaiting, .middleRating {
    left: 6vw;
  }

  .favouriteIconWrapper {
    right: 6vw;
  }
}