@use '../../../styles/mixins' as *;

.btnContainer {
  grid-column: 1 / -1
}

.button {
  @include fonts(500, 16px, #fff, 24px);
  padding: 8px 30px;
  margin-right: 20px;
  border: none;
  background-color: #242426;
  border-radius: 25px;

  > span {
    padding-right: 20px;
  }
}

.wrapGallery {
  flex-grow: 1;
}

.titleHome {
  display: none;
}

.movieGallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 40px;
  max-width: 100%;
  overflow-y: auto;
  flex-grow: 1;
}

.movieGalleryTrends {
  @include sizes(null, 81vh);
}

@include screenSize(lg) {
  .movieGallery {
    @include sizes(null, auto);
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 30px;
    max-width: 100%;
  }
}

@include screenSize(md) {
  .titleTrends {
    display: block;
  }
}

@include screenSize(sm) {
  .movieGallery {
    grid-template-columns: 1fr;
  }
}
