@use '../../../styles/mixins' as *;

.newPasswordForm {
  @include rowing(null, null, column);
  @include sizes(575px); // ширина формы как на скриншоте
  padding: 40px;
  margin: 0 auto;
  border-radius: 12px;
  color: #ffffff;
  background-color: #242426;
}

.title {
  @include fonts(600, 24px, white, 36px);
  padding-bottom: 20px;
}

.newPasswordInput {
  @include sizes(100%);
  margin-bottom: 25px;
}

.btnNewPassw {
  @include fonts(600, 16px, #fff, 24px);
  margin-top: 15px;
  padding: 16px 0;
  border-radius: 10px;
  background-color: #7B61FF;
}

.error {
  @include fonts(500, 16px, red, 24px);
  margin-bottom: 20px;
}

@include screenSize(md) {
  .newPasswordForm {
    @include sizes(76vw);
  }
}

@include screenSize(sm) {
  .title {
    @include fonts(null, 20px, null, 32px);
  }

  .newPasswordForm {
    @include sizes(91vw);
  }
}
