@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.educationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.educationForm {
  @include sizes(1150px);
  z-index: 1000;
  padding: $spacing-16 $spacing-24;
  background-color: $color-pink;
}

.educationFormTitle {
  @include fonts($manroupe-font, $font-weight-400, $font-size-20, $color-gray4, $spacing-35);
  padding-bottom: $spacing-60;
}

.educationFieldWrapper {
  @include rowing(null, null, $spacing-16, column);
}

.institutionGroup,
.specialtyGroup,
.startDateGroup{
  @include rowing(nuul, null, $spacing-12, column);
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-18;
  background-color: $color-white;
}

.institutionLabel,
.specialtyLabel,
.dateGroupLabel {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-gray4, $spacing-35);
}

.dateGroupRow {
  padding: $spacing-0 $spacing-32;
}

.yearSelect {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray8, $spacing-16);
  padding: $spacing-11 $spacing-0;
}