.supportInfo {
  width: 100%;
  max-width: 25%;
}

.itemSupport {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #7f207b;
  line-height: 1.2;
}

.emailSupport {
  padding: 15px 0;
}

.supportSocials {
  padding-top: 32px;
}
