.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.navLink {
  font-size: 16px;
  color: #aa01a2;
  transition: color 0.3s ease;
}

.navLink.active {
  color: #7f207b;
  padding-bottom: 10px;
  border-bottom: 3px solid #7f207b;
}
