@use '../../../styles/mixins' as *;

.link {
  @include fonts(500, 14px, #80858B, 24px);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #ffffff;
  }
}