@use '@/styles/variables' as *;

.wrapper {
  width: 100px;
  height: 80px;
  border-radius: $radius-xl;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: $color-bg-form;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.uploadArea {
  border-radius: $radius-xl;
  padding: 28px;
  background-color: $color-bg-form;
}
