@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrapper {
  @include rowing(center, center);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.thumbnail {
  @include sizes(100%, 100%);
  object-fit: cover;
}

.uploadArea {
  @include rowing(center, center);
  padding: $spacing-28;
  border-radius: $spacing-20;
  background-color: $color-pink;
}

.tooltip {
  @include fonts($manroupe-font, $font-weight-400, $font-size-12);
  position: absolute;
  bottom: 12%;
  color: $color-gray4;
}
