@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrapper {
  @include rowing(center, center);
  @include sizes($spacing-100, $spacing-80, $spacing-20);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: $color-pink;
}

.thumbnail {
  @include sizes(100%, 100%);
  object-fit: cover;
  border-radius: inherit;
}

.uploadArea {
  @include rowing(center, center);
  @include sizes(null, null, $spacing-20);
  padding: $spacing-28;
  background-color: $color-pink;
}
