.wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.headerWrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.navbarMenu {
  display: flex;
}

.btnWrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.masterCapture {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #aa01a2;
}

.wrappFooter {
  margin: 0 100px;
  padding-bottom: 50px;
}

.wrappFooterNav {
  padding-bottom: 60px;
}

.footerSeparator {
  height: 2px;
  border: none;
  background-color: #7f207b;
}

.basement {
  display: flex;
  justify-content: space-between;
}

.footerNavigation {
  display: flex;
  gap: 48px;
  padding-bottom: 24px;
}
