.wrapper {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #7f207b;
  position: relative;
}

.currentCountry {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.flag {
  width: 24px;
  height: 18px;
}

.dropdown {
  width: 100%;
  position: absolute;
  bottom: 65%;
  background: #fff;
  border: 1px solid #7d7979;
  list-style: none;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.dropdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  cursor: pointer;

  &:hover {
    background-color: #fde2ee;
  }
}
