@mixin rowing($dist: null, $align: null, $direct: null) {
    display: flex;
    justify-content: $dist;
    align-items: $align;
    flex-direction: $direct;
}

@mixin sizes($numb: null, $second-numb: null, $third-numb: null, $fourth-numb: null) {
    width: $numb;
    height: $second-numb;
    border-radius: $third-numb;
    margin: $fourth-numb;
}

@mixin fonts($font-weigth: null, $font-size: null, $color: null, $line-height: null) {
    font: {
        family: "Exo 2", serif;
        weight: $font-weigth;
        size: $font_size;
    }
    color: $color;
    line-height: $line-height;
}

@mixin screenSize($breakpoint) {
    @if $breakpoint == lg {
        @media (max-width: 1200px) {
            @content;
        }
    } @else if $breakpoint == md {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $breakpoint == md-sm {
        @media (max-width: 630px) {
            @content;
        }
    } @else if $breakpoint == sm {
        @media (max-width: 450px) {
            @content;
        }
    } @else if $breakpoint == xs {
        @media (max-width: 320px) {
            @content;
        }
    }
}
