@use '../../../styles/mixins' as *;

.forgotPasswordForm {
  @include rowing(null, null, column);
  @include sizes(575px); // ширина формы как на скриншоте
  padding: 40px;
  margin: 0 auto;
  border-radius: 12px;
  color: #ffffff;
  background-color: #242426;
}

.title {
  @include fonts(600, 24px, white, 36px);
  padding-bottom: 20px;
}

.infoText {
  @include fonts(500, 16px, #80858B, 24px);
  padding-bottom: 20px;
}

@include screenSize(md) {
  .forgotPasswordForm {
    @include sizes(76vw);
  }
}

@include screenSize(sm) {
  .title {
    @include fonts(null, 20px, null, 32px);
  }

  .forgotPasswordForm {
    @include sizes(91vw);
  }
}
