@use '@/shared/styles/variables' as *;

.supportInfo {
  width: 100%;
  max-width: 25%;
}

.itemSupport {
  font-size: 17px;
  color: $color-primary;
  line-height: 1.2;
}

.emailSupport {
  padding: 15px 0;
}

.supportSocials {
  padding-top: 32px;
}
