@use '@/shared/styles/variables' as *;

.masterSidebar {
  width: 100%;
  position: sticky;
  top: 80px;
  align-self: flex-start;
  max-width: 270px;
  margin-bottom: 14px;
  border-radius: 9px;
  background-color: $color-primary;
}

.masterInfoBox {
  padding: 9px 17px;
  border-bottom: 1px solid $color-bg-card;
}

.wrapperImg {
  width: 40px;
  height: 40px;
  border-radius: $radius-round;
  background-color: #f3f3f3;
}

.userName {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  color: $color-bg-card;
}

.item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: $font-weight-medium;
  font-size: $font-size-md;
  color: $color-bg-card;
  padding: 18px 17px;

  > span {
    padding-right: 20px;
  }
}

.itemOrder {
  border-bottom: 1px solid $color-bg-card;
}
