.wrappHelpSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.titleHelp {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #fff;
}

.subtitleHelp {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  padding: 16px 0;
  letter-spacing: 1px;
}
