@use '@/shared/styles/variables' as *;

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: $font-weight-semibold;
  font-size: $font-size-xl;
  color: $color-text-primary;
  line-height: $line-height-loose;
  padding-bottom: $gap-md;
}

.servicesItem {
  display: flex;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid $color-text-primary;
}

.itemContent {
  width: 100%;
  position: relative;
}

.serviceTitle {
  font-weight: $font-weight-semibold;
  font-size: $font-size-xl;
  color: $color-text-primary;
  line-height: $line-height-loose;
}

.serviceText {
  font-weight: $font-weight-semibold;
  font-size: $font-size-lg;
  color: $color-text-primary;
  line-height: $line-height-loose;
  padding: $gap-sm 0;
}

.serviceDesc {
  font-size: $font-size-lg;
  color: $color-text-primary;
  line-height: 28px;
}

.serviceInfo {
  flex: 0 1 570px;
  min-width: 0;
  padding-left: $gap-xl;
}

.labelPrice {
  font-size: 15px;
  color: $color-text-label;
  line-height: $line-height-tight;
}

.servicePriceBlock {
  display: flex;
  gap: 6px;
  flex-direction: column;
  flex: 0 1 120px;
  min-width: 0;
}

.servicePrice {
  font-family: Manrope-Semibold, sans-serif;
  font-weight: $font-weight-semibold;
  font-size: 17px;
  color: $color-text-primary;
  line-height: 22px;
}
