@use '../../styles/mixins' as *;

.img {
  @include sizes(100vw, 100vh);
  position: absolute;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.wrapAuth {
  @include rowing(space-between, null, column);
  @include sizes(null, 100vh);
}

.wrapLogo {
  padding: 50px 0 0 60px;
}

.wrapCopyright {
  text-align: center;
}

@include screenSize(md) {
  .copyrightAuth {
    display: block;
  }
}

@include screenSize(sm) {
  .wrapLogo {
    margin: 0 auto;
    padding: 20px 0 0 0;
  }

  .wrapCopyright {
    padding-bottom: 40px;
  }
}