.iconSupport {
  margin-right: 12px;
}

.editUpload {
  width: 40px;
  height: 40px;
  opacity: 0.7;
}

.tagClose {
  margin-left: 5px;
}

.starOutIcon {
  width: 24px;
  height: 24px;
  color: #ffb800;
}

.messageIcon {
  width: 24px;
  height: 24px;
  color: #7d7979;
}

.check {
  width: 48px;
  height: 30px;
  stroke: #7f207b;
  color: transparent;
}

.heartOutIcon {
  width: 30px;
  height: 31px;
  color: #1d1b20;
}

.logoFooter {
  width: 100px;
  height: 50px;
  margin: 36px 0 16px;
  color: #7f207b;
}

.ageIcon {
  width: 35px;
  height: 35px;
  color: #7f207b;
}

.selectCountry {
  width: 16px;
  height: 16px;
  stroke: #7f207b;
  color: transparent;
}

.dropDownMenu {
  width: 16px;
  height: 16px;
  stroke: #aa01a2;
  color: transparent;
}

.searchFormIcon {
  width: 16px;
  height: 16px;
  stroke: #7d7979;
  color: #000;
}

.toolbarIcon {
  width: 16px;
  height: 16px;
}

.passwordErr > path:first-of-type,
.passwordConfirmErr > path:first-of-type {
  stroke: #ee443f;
}

.passwordValid > path:first-of-type,
.passwordConfirmValid > path:first-of-type {
  stroke: #81cf92;
}

.selectRole {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  color: #7f207b;
  pointer-events: none;
}

.heartTop1 {
  left: 12%;
}

.heartTop2 {
  left: 8%;
}

.heartTop3 {
  left: 4%;
}

.heartBottom1 {
  bottom: 40px;
  right: 66px;
}

.heartBottom2 {
  bottom: 40px;
  right: 48px;
}

.heartBottom3 {
  bottom: 40px;
  right: 38px;
}

.editMasterProfile {
  width: 40px;
  height: 40px;
}

.heartTop1,
.heartTop2,
.heartTop3 {
  top: 20%;
}

.heartTop1,
.heartTop2,
.heartTop3,
.heartBottom1,
.heartBottom2,
.heartBottom3 {
  position: absolute;
}

.heartPromoClient {
  width: 230px;
  height: 240px;
}

.ArrowDropDown {
  position: absolute;
  top: calc(50% - 3px);
  right: 0;
}
