@use '@/shared/styles/variables' as *;

.wrapper {
  align-items: center;
  font-weight: $font-weight-semibold;
  font-size: 17px;
  color: $color-primary;
  position: relative;
}

.currentCountry {
  align-items: center;
  gap: $gap-sm;
  cursor: pointer;
}

.flag {
  width: $gap-xl;
  height: 18px;
}

.dropdown {
  width: 100%;
  position: absolute;
  bottom: 65%;
  background: $color-bg-card;
  border: 1px solid $color-text-secondary;
  list-style: none;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.dropdownItem {
  align-items: center;
  gap: $gap-sm;
  padding: $gap-sm 10px;
  cursor: pointer;

  &:hover {
    background-color: #fde2ee;
  }
}
