@use '@/shared/styles/variables' as *;

.wrappCards {
  gap: 25px;
  flex-wrap: wrap;
  padding: 40px 57px;
  border-radius: $gap-xl;
  background-color: $color-bg-form;
}

.paginationWrap {
  gap: $gap-xl;
  padding: $gap-xl 0;
}
