@use '../../../styles/mixins' as *;

.btn-login {
  @include fonts(600, 16px, white, 24px);
  padding: 15px 0;
  background-color: #7B61FF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #684ddc;
  }
}

.btn-register {
  @include fonts(600, 16px, white, 24px);
  padding: 15px 0;
  background-color: #7B61FF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #684ddc;
  }
}

.btn-reset {
  @include fonts(600, 16px, white, 24px);
  padding: 15px 0;
  background-color: #7B61FF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #684ddc;
  }
}

.btn-setPassword {
  @include fonts(600, 16px, white, 24px);
  padding: 15px 0;
  background-color: #7B61FF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #684ddc;
  }
}