@use '../../../styles/mixins' as *;

.logo {
  margin-right: 10.9vw;
}

.logoTrends {
  margin-right: 8.85vw;
}

.logoMenuOpen {
  display: none;
}

@include screenSize(md) {
  .logo {
    margin-right: 5vw;
  }

  .logoMovie {
    margin-right: 13vw;
  }
}

@include screenSize(md-sm) {
  .wrapLogo {
    flex-grow: 1;
  }

  .logo {
    order: 0;
  }
}

@include screenSize(sm) {
  .logo {
    margin-right: 0;
  }
}
