.masterAboutTextarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  margin-bottom: 12px;
}

.masterAboutError {
  font-family: Roboto Flex, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ee443f;
  line-height: 20px;
}

.formActions {
  display: flex;
  justify-content: end;
  gap: 12px;
  width: 100%;
}
