@use '../../../styles/mixins' as *;

.wrappMovieDetails {
  @include rowing(space-between, null, column);
  @include sizes(null, 1250px);
}

.movieDetails {
  @include rowing();
}

.container {
  @include sizes(60vw);
  display: grid;
  grid-template-areas:
    "area1 area2"
    "area1 area3";
  grid-template-columns: .3fr 1fr;
  grid-auto-rows: min-content;
  gap: 40px;
}

.wrappPoster {
  grid-area: area1;
}

.movieHeader {
  grid-area: area2;
}

.movieInfo {
  grid-area: area3;
}

.poster {
  border-radius: 20px;
}

.iconPanel {
  @include rowing(center);
  @include sizes(100%, 60px);
  margin-top: 30px;
  border-radius: 10px;
  background-color: #323537;
}

.iconPanelLight {
  background-color: #80858B;

  svg path:hover{
    fill: #fff;
  }

  svg:hover circle,
  svg:hover path {
    stroke: #fff;
  }
}

.divider {
  @include sizes(2px);
  background-color: #000;
}

.wrapFavourite, .wrapShare {
  @include rowing(center,center);
  flex-grow: 1;
}

.genre {
  @include fonts(500, 16px, #AFB2B6, 24px);
}

.title {
  @include fonts(600, 40px, #fff, 60px);
  padding-bottom: 25px;
}

.titleLight {
  color: #000;
}

.plot.plotLight, .desc.descLight {
  color: #000;
}

.infoBadges {
  @include rowing();
}

.rating, .IMDWrap, .runtimeWrap {
  @include rowing(center, center);
  @include fonts(600, 16px, #fff, 24px);
  margin-right: 20px;
  padding: 2px 8px;
  border-radius: 6px;
  background-color: #00A340;
}

.IMDWrap, .runtimeWrap {
  background-color: #323537;
}

.plot {
  @include fonts(500, 16px, #fff, 24px);
  padding-bottom: 40px;
}

.detailsWrap {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  > span {
    @include fonts(600, 16px, #AFB2B6, 24px);
  }

  > p {
    @include fonts(500, 16px, #fff, 24px);
  }
}

.wrappSlider {
  @include rowing();
}

.wrapCardSlider {
  @include sizes(57vw);
  overflow: hidden;
  padding-top: 4vh;

  .recLight {
    color: #000;
  }
}

.spacer {
  @include sizes(234px);
  flex-shrink: 0;
}

.wrappRecommended {
  @include rowing();
}

.movieRecommend {
  @include fonts(600, 24px, #fff, 36px);
  padding: 0 0 30px 25px;
}

.recommendedSpacer {
  @include sizes(320px);
}

@include screenSize(lg) {
  .wrappMovieDetails {
    flex-grow: 1;
  }

  .wrapCardSlider {
    flex-grow: 1;
  }

  .spacer {
    display: none;
  }

  .poster {
    @include sizes(calc(120px + 10.9vw));
  }

  .container {
    flex-grow: 1;
  }

  .recommendedSpacer {
    @include sizes(calc(140px + 10.9vw));
  }
}

@include screenSize(md) {

  .title {
    @include fonts(600, 32px, #fff, 48px);
  }

  .poster {
    @include sizes((calc(120px + 13vw)));
  }

  .wrappMovieDetails {
    @include sizes(null, 1310px)
  }

  .movieRecommend {
    padding: 0 0 40px 25px;
  }

  .wrapCardSlider {
    @include sizes(54vw);
  }
}

@include screenSize(md-sm) {
  .container {
    grid-template-areas:
    "area2"
    "area1"
    "area3";
    grid-template-columns: 1fr;
  }

  .title {
    @include fonts(600, 28px, #fff, 42px);
  }

  .poster {
    @include sizes(100%);
  }

  .wrapCardSlider {
    padding: 4vh 0;
  }

  .recommendedSpacer {
    display: none;
  }

  .movieRecommend {
    padding-left: 0;
    font-size: 20px;
  }
}

@include screenSize(xs) {
  .wrapCardSlider {
    padding-bottom: 2vh;
  }
}