@use '../../../styles/mixins' as *;

.profileSettings {
  @include sizes(null, 119%);
  flex-grow: 1;
  min-width: 0;
  overflow-y: auto;
}

.section, .sectionTheme {
  @include sizes(100%);
  padding-bottom: 40px;
}

.sectionTheme {
  padding-bottom: 30px;
}

.titleProfile {
  @include fonts(600, 24px, #fff, 36px);
  padding-bottom: 15px;
}

.lightTitleProfile {
  color: #242426;
}

.wrapProfile {
  @include rowing();
  @include sizes(100%);
  flex-wrap: wrap;
}

.wrapPassword {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
}

.wrapTheme {
  @include rowing(null, null, column);
}

.wrapProfile, .wrapPassword, .wrapColor {
  gap: 40px;
  padding: 40px;
  border-radius: 10px;
  background-color: #242426;
}

.lightWrapProfile,
.lightWrapPassword,
.lightWrapColor {
  border: 1px solid #AFB2B6;
  background-color: #fff;
}
.wrapColor {
  @include rowing(space-between, center);
  padding: 30px 40px;
  margin-bottom: 38px;

  label {
    @include fonts(700);
    padding-bottom: 4px;
  }

  span {
    @include fonts(500, 16px, #AFB2B6, 24px);
  }
}

.inputConfirmPassword {
  grid-area: 2 / 2;
}

.inputGroup, .inputConfirmPassword {
  @include rowing(null, null, column);
  flex-grow: 1;
  min-width: 0;
}

.inputPassword {
  &::placeholder {
    @include fonts(500, 16px, #80858B, 24px);
  }
}

.inputName, .inputPassword {
  @include fonts(600, 16px, #fff, 24px);
  background-color: #323537;
}

.lightInputPassword {
  color: #000;
  border: 1px solid #AFB2B6;
  background-color: #fff;
}

.lightInputName {
  color: #000;
  border: 1px solid #AFB2B6;
  background-color: #fff;
}

.labelUsSet {
  @include fonts(600, 16px, #fff, 24px);
  padding-bottom: 10px;
}

.lightLabelUsSet {
  color: #80858B;
}

.buttonGroup {
  @include rowing(end);
}

.cancelButton {
  margin-right: 40px;
  background-color: #323537;
}

.saveButton {
  background-color: #7B61FF;
}

.cancelButton, .saveButton {
  @include fonts(600, 16px, #fff, 24px);
  padding: 15px 100px;
  border: none;
  border-radius: 10px;
}

.lightCancelButton {
  background-color: #AFB2B6;
}

.spacer {
  @include sizes(234px);
  flex-shrink: 0;
}

.errorMessage {
  @include fonts(600, 14px);
  margin-top: 5px;
}

@include screenSize(lg) {
  .spacer {
    display: none;
  }
}

@include screenSize(md) {
  .sectionTheme {
    padding-bottom: 0;
  }

  .wrapColor {
    padding: 50px 40px;
  }

  .wrapProfile, .wrapPassword {
    padding: 30px 40px;
  }
}

@include screenSize(md-sm) {
  .titleProfile {
    @include fonts(600, 20px, #fff, 32px);
  }

  .section {
    padding-bottom: 30px;
  }

  .wrapPassword {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .inputGroup, .inputConfirmPassword {
    grid-column: 1 / -1;

    &:nth-child(1) {
      grid-row: 1;
    }

    &:nth-child(2) {
      grid-row: 2;
    }

    &:nth-child(3) {
      grid-row: 3;
    }
  }

  .wrapColor {
    padding: 25px 25px;
  }

  .buttonGroup {
    flex-direction: column;
  }

  .cancelButton {
    margin: 0 0 15px;
  }

  .wrapProfile, .wrapPassword {
    padding: 30px 25px;
    gap: 20px;
  }
}