.section {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    padding-top: 110px;
}

.promoCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 396px;
  height: 387px;
  border-radius: 200px;
  position: relative;
  border: 3px solid #7d7979;
  background-color: #fff;
}

.textPromoClient {
  font-family: Manroupe, sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #1d1b20;
  line-height: 28px;
  width: 90%;
  position: absolute;
  text-align: center;
}
