@use '@/shared/styles/variables' as *;

.section {
    padding: 40px 0;
    padding-top: 110px;
}

.promoCircle {
  width: 396px;
  height: 387px;
  border-radius: 200px;
  position: relative;
  border: 3px solid $color-text-secondary;
  background-color: $color-bg-card;
}

.textPromoClient {
  font-weight: $font-weight-bold;
  font-size: 22px;
  color: #1d1b20;
  line-height: 28px;
  width: 90%;
  position: absolute;
  text-align: center;
}
