@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.card {
  @include rowing();
  @include sizes(100%, null, $spacing-24);
  max-width: 650px;
  padding: $spacing-24;
  background-color: $color-white;
}

.info {
  padding-left: $spacing-12;
}

.name {
  @include fonts($manroupe-font, $font-weight-600, $font-size-32, $color-black);
}

.specialty {
  padding: $spacing-20 $spacing-0 $spacing-10;
}

.specialty,
.address {
  @include fonts($manroupe-font, $font-weight-400, $font-size-14, $color-purple4);
}

.evalMaster {
  padding-right: $spacing-12;
}

.footer {
  @include rowing();
}

.masterInfo {
  @include rowing(space-between, center);
  @include sizes(null, $spacing-40);
}

.infoWrapper {
  @include rowing(space-between, null, null, column);
  @include sizes(100%);
}

.infoNextWrapper {
  @include rowing(space-between);
}
