@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  width: 100%;
  max-width: 650px;
  padding: $spacing-24;
  background-color: $color-white;
  border-radius: $spacing-18;
}

.cardTop {
  display: flex;
  gap: $spacing-12;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info {
  flex: 1;
}

.name {
  @include fonts($manroupe-font, $font-weight-600, $font-size-32, $color-black);
}

.specialty {
  padding: $spacing-20 $spacing-0 $spacing-10;
}

.specialty,
.address {
  @include fonts($manroupe-font, $font-weight-400, $font-size-14, $color-purple4);
}

.masterStats {
  display: flex;
  align-items: center;
  gap: $spacing-20;
}

.ratingBlock,
.reviewsBlock {
  display: flex;
  align-items: center;
  gap: $spacing-4;
  @include fonts($manroupe-font, $font-weight-400, $font-size-14, $color-gray2);
}

.reviewsBlock {
  gap: $spacing-8;
}

.infoWrapper {
  flex: 1;
}

.infoNextWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
