@use '../../../styles/mixins' as *;

.inputContainer {
  min-width: 0;
}

.passwordInput {
  padding-bottom: 7px;
}

.label {
  @include fonts(600, 16px, white, 24px);
  display: block;
  padding-bottom: 8px;
  color: #fff;
}

.input {
  @include fonts(500, 16px, #80858B, 24px);
  padding: 16px 20px;
  color: #e1e1e1; // Светлый текст для инпута
  background-color: #323537;
  border: none;
  border-radius: 10px; // Округлённые углы
  outline: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input::placeholder {
  color: #7a7a7a; // Более тёмный оттенок для текста плейсхолдера
}

.customPasswordInput::placeholder {
  color: white;
}
