.footerNav {
  display: flex;
}

.wrappClients,
.wrappMasters,
.wrappAbout {
  width: 100%;
  max-width: 25%;
}

.titleFooterNav {
  font-weight: 600;
  font-size: 17px;
  color: #7f207b;
}

.wrappItemFooter {
  padding-top: 15px;
}
