.experienceCard {
  border-radius: 12px;
  padding: 16px 24px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.experienceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Manroupe, sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #333333;
}

.text {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 27px;
  flex: 0 1 660px;
  min-width: 0;
}

.experienceYearBlock {
  display: flex;
  gap: 6px;
  flex-direction: column;
  flex: 0 1 232px;
  min-width: 0;
}

.label {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #808080;
  line-height: 20px;
}

.years {
  display: flex;
}

.year {
  font-family: Manrope-Semibold, sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #333333;
  width: 50%;
}
