@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.experienceCard {
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-12;
  background-color: $color-white;
}

.header {
  @include rowing(space-between, center);
  padding-bottom: $spacing-12;
}

.experienceItem {
  @include rowing(space-between, center);
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4);
}

.text {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-gray4, $spacing-27);
  flex: 0 1 660px;
  min-width: 0;
}

.experienceYearBlock {
  @include rowing(null, null, $spacing-6, column);
  flex: 0 1 232px;
  min-width: 0;
}

.label {
  @include fonts($manroupe-font, $font-weight-400, $font-size-15, $color-gray5, $spacing-20);
}

.years {
  @include rowing();
}

.year {
  @include fonts(Manrope-Semibold, $font-weight-600, $font-size-17, $color-gray4);
  @include sizes(50%);
}
