.experienceOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: 999;
}

.experienceForm {
  width: 1150px;
  border-radius: 12px;
  z-index: 1000;
  padding: 16px 24px;
  background-color: #fff2f1;
}

.experienceFieldWrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
