@use '@/shared/styles/variables' as *;

.masterProfileCard {
  width: 100%;
  max-width: 514px;
  align-self: flex-start;
}

.avatarWrapper {
  border-radius: $radius-xl;
  padding: 40px;
  background: $color-bg-form;
}

.editButtonWrapper {
  align-self: flex-start;
}

.infoGroup {
  display: flex;
  gap: 56px;
  flex-direction: column;
}

.infoItem {
  height: 40px;
}

.title,
.masterName {
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  line-height: $line-height-tight;
}

.masterEmail,
.masterPhone {
  font-size: 17px;
  color: $color-text-secondary;
}
