.wrapServCard {
  border-radius: 24px;
  display: inline-block;
  background-color: #fff;
}

.wrappPicture {
  max-width: 384px;
  position: relative;
}

.wrappIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 304px;
  height: 304px;
  border-radius: 12px;
  background-color: #7f207b;
}

.infoBlock {
  padding: 12px 24px;
}

.title {
  font-family: Manroupe, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  line-height: 26px;
  padding-bottom: 8px;
}

.price {
  padding-bottom: 46px;
}

.text2 {
  flex: 0 1 180px;
}

.text,
.text2 {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #333333;
  line-height: 20px;
  padding-bottom: 4px;
}

.label {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #808080;
  padding: 4px 0 6px;
}

.imgSection {
  height: 384px;
  position: relative;
  padding: 40px;
}

.wrapDescPortf {
  display: flex;
  width: 100%;
  max-width: 336px;
}
