@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.wrapServCard {
  @include sizes(null, null, $spacing-24);
  display: inline-block;
  background-color: $color-white;
}

.wrappPicture {
  max-width: 384px;
  position: relative;
}

.wrappIcon {
  @include rowing(center, center);
  @include sizes(304px, 304px, $spacing-12);
  background-color: $color-purple3;
}

.infoBlock {
  padding: $spacing-12 $spacing-24;
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-18, $color-gray4, $spacing-26);
  padding-bottom: $spacing-8;
}

.price {
  padding-bottom: $spacing-46;
}

.text2 {
  flex: 0 1 180px;
}

.text,
.text2 {
  @include fonts($manroupe-font, $font-weight-400, $font-size-15, $color-gray4, $spacing-20);
  padding-bottom: $spacing-4;
}

.label {
  @include fonts($manroupe-font, $font-weight-400, $font-size-15, $color-gray5);
  padding: $spacing-4 $spacing-0 $spacing-6;
}

.imgSection {
  @include sizes(null, 384px);
  position: relative;
  padding: $spacing-40;
}

.wrapDescPortf {
  @include rowing();
  @include sizes(100%);
  max-width: 336px;
}
