@use '../../../styles/mixins' as *;

.searchInputContainer {
  @include rowing(space-between, center);
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  background-color: #323537;
}

.lightSearchInputContainer {
  border: 1px solid #AFB2B6;
  background-color: #fff;
}

.searchInput {
  @include fonts(500, 16px, white, 24px);
  padding: 0 5px 10px;
  border: none;
  outline: none;
  background: transparent;
}

.searchButton {
  @include rowing(center, center);
  position: relative;
  padding: 5px;
  border: none;
  cursor: pointer;
  background: none;
}

.sortPoint {
  @include sizes(6px, 6px);
  position: absolute;
  left: 2px;
  bottom: 2px;
  background-color: #7B61FF;
  border-radius: 50%;
}

.sortPointNone {
  display: none;
}

.serachHumb {
  @include sizes(calc(100vw - 355px));
  flex-grow: unset;
  margin-top: 100px;
}

@include screenSize(md) {
  .searchInput {
    @include sizes(155px);
  }
}

@include screenSize(md-sm) {
  .searchInputContainer {
    order: 2;
    margin-top: 30px;
  }

  .searchInput {
    @include sizes(unset);
  }

  .serachHumb {
    @include sizes(calc(100vw - 280px));
    margin: 100px 0 0 -40px;
    order: 2;
  }
}