@use '../../../styles/mixins' as *;

.searchInputContainer {
  @include rowing(space-between, center);
  flex-grow: .8;
  margin-right: 40px;
  padding: 10px;
  border-radius: 8px;
  background-color: #323537;
}

.searchInput {
  @include fonts(500, 16px, white, 24px);
  padding: 0 5px 10px;
  border: none;
  outline: none;
  background: transparent;
}

.searchButton {
  @include rowing(center, center);
  padding: 5px;
  border: none;
  cursor: pointer;
  background: none;
}