.searchInputContainer {
  display: flex;
  align-items: center;
  background-color: #2c2c2c; /* Цвет фона input */
  border-radius: 8px;
  padding: 5px 10px;
  width: 100%;
  max-width: 400px;
}

.searchInput {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff; /* Цвет текста */
  font-size: 16px;
  padding: 5px;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}