@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.searchMaster {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray2, $spacing-24);
  flex-grow: 1;
  padding: $spacing-12 $spacing-8;
  border: unset;
  border-radius: $spacing-12;
}

.filterMaster {
  @include sizes($spacing-24, $spacing-24);
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  margin: $spacing-0;
  border-radius: 50%;
  border: 1.5px solid $color-purple3;
  background: $color-white;
  cursor: pointer;

  &::after {
    @include sizes($spacing-12, $spacing-12);
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    background: $color-purple3;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0); // спрятан
    transition: 0.2s ease;
  }

  &:checked::after {
    transform: translate(-50%, -50%) scale(1);
  }
}
