.btn {
  border-radius: 12px;
  padding: 15px 90px;
  border: none;
}

.activeButton {
  font-weight: 300;
  font-size: 36px;
  color: #000;
  margin: 0 75px;
  background-color: #fff;
}

.inactiveButton {
  font-weight: 300;
  font-size: 36px;
  color: #fff;
  margin: 0 75px;
  background-color: #7f207b;
}



.searchBtn {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  color: #7f207b;
  line-height: 26px;
  border-radius: 10px;
  padding: 12px 30px;
  background-color: #fff;

  > span {
    padding-right: 10px;
  }
}

.listBtn {
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #7f207b;
}

.mapBtn,
.listBtnInactive,
.mapBtnInactive {
  font-size: 18px;
  color: #422a3c;
  border-radius: 10px;
  padding: 10px 25px;
  border: 1px solid #8f3574;
  background-color: #fff;
}

.listBtn,
.mapBtn,
.listBtnInactive,
.mapBtnInactive {
  margin-left: 55px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.bookBtn {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  width: 222px;
  border-radius: 12px;
  padding: 12px 20px;
  background-color: #7f207b;
}

.mastersMoreBtn {
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 24px 0 12px;
  background-color: #7f207b;
}

.discountBtn {
  font-size: 14px;
  color: #fff;
  border-radius: 10px;
  padding: 12px 20px;
  background-color: #7f207b;
}

.joinServBtn {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  border-radius: 10px;
  align-self: self-start;
  padding: 24px 36px;
  margin: 12px 0 12px;
  background-color: #7f207b;
}

.editButton {
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.iconButton {
  position: absolute;
  top: 14%;
  padding: 8px;
  border: none;
  opacity: 0.7;
  background-color: #fff;
}

.editButtonUploader {
  font-size: 10px;
  color: #333333;
  border-radius: 8px;
  position: absolute;
  top: 65%;
  padding: 8px 8px;
  background-color: #fff;
}

.actionIcon {
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 8px;
  border: none;
  opacity: 0.7;
  background-color: #fff;
}

.textButton {
  font-size: 10px;
  color: #333333;
  border-radius: 8px;
  position: absolute;
  top: 20%;
  left: 36%;
  padding: 8px 8px;
  border: none;
  background-color: #fff;
}

.activePageBtn {
  font-weight: 500;
  font-size: 20px;
  color: #fffbfb;
  background-color: #7f207b;
}

.pageBtn {
  font-weight: 500;
  font-size: 20px;
  color: #7f207b;
  background-color: #fff;
}

.activePageBtn,
.pageBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #7f207b;
}

.showMoreMasters {
  font-weight: 500;
  font-size: 20px;
  color: #fffbfb;
  margin-bottom: 24px;
  padding: 20px 30px;
  background-color: #7f207b;
}

.filterTag {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 12px 20px;
  margin: 25px 50px 0 0;
  background-color: #7f207b;
}

.clearFiltersBtn {
  font-weight: 500;
  font-size: 20px;
  color: #7d7979;
  padding: 0;
  background-color: transparent;
}

.registerButton {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  line-height: 20px;
  width: 100%;
  padding: 16px 26px;
  background-color: #7f207b;
}

.submitButton {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  border-radius: 12px;
  padding: 12px 20px;
  border: 1px solid #7f207b;
  background-color: #7f207b;
}

.cancelButton {
  font-weight: 500;
  font-size: 16px;
  color: #7f207b;
  line-height: 20px;
  border-radius: 12px;
  padding: 12px 20px;
  border: 1px solid #7f207b;
  background-color: #fff;
}

.closeFormBtn {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0;
  background-color: transparent;
}
