@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.btn {
  padding: $spacing-15 $spacing-90;
  border-radius: $spacing-12;
  border: none;
}

.activeButton {
  @include fonts($manroupe-font, $font-weight-300, $font-size-36, $color-black);
  margin: $spacing-0 $spacing-75;
  background-color: $color-white;
}

.inactiveButton {
  @include fonts($manroupe-font, $font-weight-300, $font-size-36, $color-white);
  margin: $spacing-0 $spacing-75;
  background-color: $color-purple3;
}

.searchBtn {
  @include rowing(null, center);
  @include fonts($manroupe-font, $font-weight-500, $font-size-20, $color-purple3, $spacing-26);
  padding: $spacing-12 $spacing-30;
  border-radius: $spacing-10;
  background-color: $color-white;

  > span {
    padding-right: $spacing-10;
  }
}

.listBtn {
  @include fonts($manroupe-font, $font-weight-400, $font-size-18, $color-white);
  padding: $spacing-10 $spacing-25;
  border-radius: $spacing-10;
  background-color: $color-purple3;
}

.mapBtn {
  @include fonts($manroupe-font, $font-weight-400, $font-size-18, $color-burgundy);
  padding: $spacing-10 $spacing-25;
  border: 1px solid $color-purple4;
  border-radius: $spacing-10;
  background-color: $color-white;
}

.listBtn,
.mapBtn {
  margin-left: $spacing-55;
}

.bookBtn {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-white);
  padding: $spacing-12 $spacing-65;
  margin-left: auto;
  border-radius: $spacing-10;
  background-color: $color-purple3;
}

.mastersMoreBtn {
  @include fonts($manroupe-font, $font-weight-400, $font-size-20, $color-white);
  padding: $spacing-20 $spacing-30;
  margin: $spacing-24 $spacing-0 $spacing-12;
  border-radius: $spacing-10;
  background-color: $color-purple3;
}

.discountBtn {
  @include fonts($manroupe-font, $font-weight-400, $font-size-14, $color-white);
  padding: $spacing-12 $spacing-20;
  border-radius: $spacing-10;
  background-color: $color-purple3;
}

.joinServBtn {
  @include fonts($manroupe-font, $font-weight-600, $font-size-24, $color-white);
  align-self: self-start;
  padding: $spacing-24 $spacing-36;
  margin: $spacing-12 $spacing-0 $spacing-12;
  border-radius: $spacing-10;
  background-color: $color-purple3;
}

.editButton {
  @include sizes(null, $spacing-40);
  padding: $spacing-0;
  border: none;
  background-color: transparent;
}

.iconButton {
  position: absolute;
  top: 14%;
  padding: $spacing-8;
  border: none;
  opacity: 0.7;
  background-color: $color-white;
}

.editButtonUploader {
  @include fonts($manroupe-font, $font-weight-400, $font-size-10, $color-gray4);
  position: absolute;
  top: 65%;
  padding: $spacing-8 $spacing-8;
  border-radius: $spacing-8;
  background-color: $color-white;
}

.actionIcon {
  position: absolute;
  top: 40%;
  left: 40%;
  padding: $spacing-8;
  border: none;
  border-radius: $spacing-8;
  opacity: 0.7;
  background-color: $color-white;
}

.textButton {
  @include fonts($manroupe-font, $font-weight-400, $font-size-10, $color-gray4);
  position: absolute;
  top: 20%;
  left: 36%;
  padding: $spacing-8 $spacing-8;
  border: none;
  border-radius: $spacing-8;
  background-color: $color-white;
}

.activePageBtn {
  @include fonts($manroupe-font, $font-weight-500, $font-size-20, $color-white2);
  background-color: $color-purple3;
}

.pageBtn {
  @include fonts($manroupe-font, $font-weight-500, $font-size-20, $color-purple3);
  background-color: $color-white;
}

.activePageBtn,
.pageBtn {
  @include rowing(center, center);
  @include sizes($spacing-30, $spacing-30);
  padding: $spacing-0;
  border-radius: 50%;
  border: $spacing-1 $color-purple3 solid;
}

.showMoreMasters {
  @include fonts($manroupe-font, $font-weight-500, $font-size-20, $color-white2);
  margin-bottom: $spacing-24;
  padding: $spacing-20 $spacing-30;
  background-color: $color-purple3;
}

.filterTag {
  @include fonts($manroupe-font, $font-weight-500, $font-size-16, $color-white);
  padding: $spacing-12 $spacing-20;
  margin: $spacing-25 $spacing-50 $spacing-0 $spacing-0;
  background-color: $color-purple3;
}

.clearFiltersBtn {
  @include fonts($manroupe-font, $font-weight-500, $font-size-20, $color-gray2);
  padding: $spacing-0;
  background-color: transparent;
}

.registerButton {
  @include fonts($manroupe-font, $font-weight-500, $font-size-24, $color-white, $spacing-20);
  @include sizes(100%);
  padding: $spacing-16 $spacing-26;
  background-color: $color-purple3;
}

.masterPrice {
  position: absolute;
  top: -6px;
  right: 0;
}

.submitButton {
  @include fonts($manroupe-font, $font-weight-500, $font-size-16, $color-white, $spacing-20);
  padding: $spacing-12 $spacing-20;
  border: $spacing-1 solid $color-purple3;
  border-radius: $spacing-12;
  background-color: $color-purple3;
}

.cancelButton {
  @include fonts($manroupe-font, $font-weight-500, $font-size-16, $color-purple3, $spacing-20);
  padding: $spacing-12 $spacing-20;
  border: $spacing-1 solid $color-purple3;
  border-radius: $spacing-12;
  background-color: $color-white;
}
