.css-b62m3t-container {
  > .selectInput__control {
    padding: 4px 0 4px 16px;
    border: none;
  }

  > .selectInput__menu {
    margin: 0;
    padding: 8px 0;
    border-radius: 8px;
    box-shadow:
            0 1px 2px rgba(0, 0, 0, 0.30),
            0 2px 6px 2px rgba(0, 0, 0, 0.15);
    background-color: #fff2f1;
  }
}

.selectInput__menu > .selectInput__menu-list {
  padding: 0;
}

.selectInput__menu-list > .selectInput__option {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #7f207b;
  line-height: 24px;
  padding: 16px 12px;
  letter-spacing: .5px;
}

.selectInput__indicators > .selectInput__indicator {
  padding: 0;
}

.selectInput__control > .selectInput__value-container {
  padding: 0;
}
