@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

@font-face {
  font-family: 'Manrope-Semibold';
  src: url('../../../../assets/fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.educationCard {
  padding: $spacing-16 $spacing-24;
  border-radius: $spacing-12;
  background-color: $color-white;
}

.header {
  @include rowing(space-between, center);
  padding-bottom: $spacing-12;
}

.title {
  @include fonts($manroupe-font, $font-weight-600, $font-size-20, $color-gray4);
}