@use './../../../styles/variables' as *;
@use './../../../styles/mixins' as *;

.hero {
  @include sizes(100%, 815px);
  padding: 90px 0 160px;
  background: {
    image: url('/images/manicure-process.png');
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}
