@use '@/styles/variables' as *;

.footerLegal {
  width: 100%;
  max-width: 70%;
}

.wrapAge {
  padding-top: $gap-sm;
}

.footerLegalText {
  font-size: 15px;
  color: $color-primary;
  line-height: 1.2;
  width: 100%;
  max-width: 75%;
  padding-left: $gap-lg;
}

.footerCopyright {
  font-size: 17px;
  color: $color-primary;
  padding: 25px 0;
}

.footerLegalInfo {
  font-size: 15px;
  color: $color-primary;
  line-height: 1.2;
}
