.footerLegal {
  width: 100%;
  max-width: 70%;
}

.wrapAge {
  display: flex;
  padding-top: 8px;
}

.footerLegalText {
  font-size: 15px;
  color: #7f207b;
  line-height: 1.2;
  width: 100%;
  max-width: 75%;
  padding-left: 16px;
}

.footerCopyright {
  font-size: 17px;
  color: #7f207b;
  padding: 25px 0;
}

.footerLegalInfo {
  font-size: 15px;
  color: #7f207b;
  line-height: 1.2;
}
