// Replaced base flex styles with .flex-col-16 utility
.servicesWrapper {
  align-items: stretch;
}

// Replaced base flex styles with .flex-col-16 utility
.serviceBlock {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 12px 0;
}

// Replaced with .flex-col-12 utility
