.masterProfileCard {
  width: 100%;
  max-width: 514px;
  align-self: flex-start;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: #fff;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.avatarWrapper {
  border-radius: 20px;
  padding: 40px;
  background: #fff2f1;
}

.infoGroup {
  display: flex;
  gap: 56px;
  flex-direction: column;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.title,
.masterName {
  font-family: Manroupe, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.masterEmail,
.masterPhone {
  font-family: Manroupe, sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #7d7979;
}
