@use '../../../styles/mixins' as *;

.resetPasswordForm {
  @include rowing(null, null, column);
  @include sizes(575px); // ширина формы как на скриншоте
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  color: #ffffff;
  background-color: #242426;
}

.title {
  @include fonts(600, 24px, white, 36px);
  padding-bottom: 40px;
}

.inputReset {
  @include sizes(100%);
  margin-bottom: 40px;
}

.btnReset {
  @include fonts(600, 16px, #fff, 24px);
  padding: 16px 0;
  border-radius: 10px;
  background-color: #7B61FF;
}

.success, .error {
  @include fonts(500, 16px, #fff, 24px);
  margin-bottom: 40px;
}

.error {
  color: red;
}

@include screenSize(md) {
  .resetPasswordForm {
    @include sizes(76vw);
  }
}

@include screenSize(sm) {
  .title {
    @include fonts(null, 20px, null, 32px);
  }

  .resetPasswordForm {
    @include sizes(91vw);
  }
}
