.dateSelectGroup {
  display: flex;
  gap: 12px;
  flex-direction: column;
  border-radius: 18px;
  padding: 16px 24px;
  background-color: #fff;
}

.dateSelectLabel {
  font-size: 16px;
  color: #333333;
  line-height: 35px;
}

.dateSelectRow {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

.yearSelectContainer,
.monthSelectContainer {
  width: 100%;
  max-width: 450px;
  padding-left: 16px;
  border-radius: 12px;
  border: 2px solid #7f207b;
}

.selectYearWrapper,
.selectMonthWrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.yearSelect,
.monthSelect {
  font-weight: 600;
  font-size: 20px;
  color: #272727;
  line-height: 20px;
  width: 70px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 11px 8px 11px 0;
  border: none;
  background-color: unset;
}

.monthSelect {
  width: 120px;
}

.selectYearWrapper :global(.ArrowDropDown),
.selectMonthWrapper :global(.ArrowDropDown) {
  pointer-events: none;
  margin-left: 4px;
}
