@use '@/shared/styles/variables' as *;

.wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.headerWrapp {
  min-height: 70px;
}

.navbarMenu {
}

.btnWrapp {
  gap: $gap-lg;
}

.masterCapture {
  font-size: $font-size-xl;
  color: $color-primary-hover;
}

.wrappFooter {
  margin: 0 100px;
  padding-bottom: 50px;
}

.wrappFooterNav {
  padding-bottom: 60px;
}

.footerSeparator {
  height: 2px;
  border: none;
  background-color: $color-primary;
}

.basement {
}

.footerNavigation {
  gap: 48px;
  padding-bottom: $gap-xl;
}
